<div class="allusers">
    <p class="title"><span>pages</span> / Employees</p>
    <div class="users">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>image1</td>
                    <td>raien1</td>
                    <td>rayen</td>
                    <td>4</td>
                    <td>
                        <button type="button"  class="danger">Supprimer</button>
                        <button type="button"  class="info">Voir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
